@use "./utils" as *;

@keyframes bannerArrow {
    0% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: 10px;
    }
}
.header-wrap {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0,0,0,0.0);
    
    z-index: 100;
    display: flex;
    justify-content: center;
    padding: 0 var(--paddingX);
    transition: 0.5s;
    &.scrolled {
        height: 60px;
        box-shadow: 0 0 5px 0 rgb(0,0,0,0.2);
        background-color: rgb(0,0,0,0.0);
        backdrop-filter: blur(3px);
    }
    &.changed {
        
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: $content-width;
        
    }
}

.main-banner-wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    @include image('main-banner.png');
    background-attachment: fixed;
    .title-wrap {
        width: 100%;
        height: 100%;
        background: rgba(24, 0, 6, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        .title {
            color: white;
            font-size: var(--h1);
            font-weight: 900;
            position: relative;
            div {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: start;
                top: calc(var(--h4) * -2.2);
                p {
                    font-size: var(--h4);
                    font-weight: 400;
                    b {
                        font-size: bold;
                    }
                }
            }
        }
    }
    .banner-arrow-wrap {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        animation: bannerArrow 0.8s infinite alternate;
        animation-fill-mode: forwards;
        transition: 0.5s;
        cursor: pointer;
        &:hover {
            animation-play-state: paused;
            .banner-arrow {
                opacity: 0;
                transition: 0.5s;
                width: 55px !important;
                height: 86px !important;
            }
            &::after {
                opacity: 1;
                transition: 0.5s;
                width: 55px !important;
                height: 86px !important;
            }
        }
        .banner-arrow {
            width: 45px;
            height: 70px;
            @include mask('banner-arrow.svg');
            background-color: white;
            transition: 0.5s;
            opacity: 1;
        }
        &::after {
            content: '';
            width: 45px;
            height: 70px;
            position: absolute;
            top: 0;
            @include mask('banner-arrow-hover.svg');
            background-color: white;
            transition: 0.5s;
            opacity: 0.01;
        }
    }
}

.section1-wrap {
    width: 100%;
    height: 200vh;
    position: relative;
    .section1 {
        width: 100%;
        height: 100vh;
        background-color: $primary_dark;
        position: sticky;
        overflow: hidden;
        top: 0;
        &-content {
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            padding: var(--paddingY) var(--paddingX);
            
            .section1-img-face {
                @include mask('section1-img.svg');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 160px;
                height: 121px;
                background-color: $primary_dark;
            }
            &.original>.after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 0vw;
                height: 0vw * 1.748;
                @include mask('section1-img-bg.svg');
                background-color: white;
            }
            &.duplicate {
                @include mask('section1-img-bg.svg');
                mask-position: center;
                mask-size: 0vw 0vw*1.748;
                color: $primary;
                .wonho-box {
                    background-color: $primary;
                }
            }
        }


        &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2 {
                font-family: Pacifico;
                font-size: var(--h2);
                font-weight: 400;
                text-align: center;
                line-height: 130%;
                margin-bottom: 20px;
            }
            
        }
        &-desc {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p {
                font-size: var(--h5);
                font-weight: 300;
                line-height: 130%;
                text-align: center;
                display: flex;
                align-items: center;
                gap: 10px;
                .wonho-box {
                    @include mask('wonho-box.svg');
                    height: calc(var(--h5) * 1.2);
                    width: calc(var(--h5) * 1.2 * 3.75);
                    background-color: white;
                }
            }
        }
        
    }
}

.section2-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--paddingY) var(--paddingX);
    background-color: rgb(var(--primary_value),0.04);
    .section2 {
        display: flex;
        gap: var(--h3);
        .section2-profile-img {
            @include image('profile-img.png');
            width: 236px;
            height: 320px;
            @media (max-width: 1024px) {
                width: 212px;
                height: 288px;
            }
            @media (max-width: 600px) {
                width: 165px;
                height: 224px;
            }
        }
        .section2-content {
            display: flex;
            flex-direction: column;
            gap: var(--h4);
            padding-top: var(--h5);
            .section2-title {
                display: flex;
                flex-direction: column;
                gap: 10px;
                div {
                    font-size: var(--p2);
                    font-weight: 700;
                    color: rgb(var(--primary_value), 0.5);
                    b {
                        color: $primary;
                        font-weight: 900;
                    }
                }
                h5 {
                    font-size: var(--h5);
                    font-weight: 700;
                    b {
                        color: $primary;
                        font-weight: 800;
                    }
                }
            }
            .section2-tag {
                display: flex;
                gap: var(--10px);
                flex-direction: row;
                flex-wrap: wrap;
                div {
                    font-size: var(--p5);
                    padding: var(--8px) var(--20px);
                    border: 1px solid black;
                    border-radius: 50px;
                    color: black;
                    background-color: white;
                }
            }
            .section2-desc {
                color: #444;
                font-size: var(--p4);
                font-weight: 300;
                line-height: 130%;
                b:last-child {
                    text-decoration: underline;
                }
            }
        }
    }
}